<!DOCTYPE html>
<html>
<head>
  <title>Uni-Pro</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "layouts/public_navbar" %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
